* {
    /* правильное отображение элементов на странице включая отступы */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* подключение вручную */


html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    position: relative;
    /* ставим по центру */
    margin: 0 auto;
}

.promo {
    /* Style for "Rectangle" */
    min-height: 800px;
    /*  / - слеш обязательно . фон в одну строку  */
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 69px 0;
}

/* наследование центрируем лого как блочный */
.logo .logo_img {
    display: block;
    margin: 0 auto;

}

.logo .logo_text {
    color: #ffffff;
    /* шрифт */
    font-family: Roboto;
    /* размер шрифта */
    font-size: 15px;
    /* жирность */
    font-weight: 500;
    /* межстрочный интревал */
    line-height: 24px;
    /* верхний регистр */
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {

    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;

    font-size: 80px;
    font-weight: 900;
    /* line-height: 24px; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    /* Style for "Ежедневно" */

    color: #ffffff;
    font-size: 21px;
    line-height: 28px;
    /* Text style for "Ежедневно" */
    font-weight: 300;
    margin-top: 23px;
    padding: 0 23px;
    text-align: center;

}

.promo .promo_text span {
    /* Text style for "БЕСПЛАТНОМ" */
    color: #f9bf3b;
    font-weight: 700;
}

.promo .promo_btn,
.intensive .intensive_btn {
    /* Style for "Rounded Re" */
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    /* style of text */
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    /* cursor */
    cursor: pointer;
    /* без обводки */
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #ffffff;

    font-size: 15px;
    font-weight: 100;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    /* Style for "Rounded Re" */

    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* section waiting */

.waiting {
    /* Style for "Rectangle" */

    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

/* переопределить цвет */
.finish .finish_header {
    color: #efefef;
}

.waiting .waiting_divider,
.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    margin-top: 17px;
    text-align: center;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    text-align: center;
    width: 339px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
    /* display: flex;
    justify-content: around; */
}

.waiting .waiting_wrapper .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

/* section optimization */

.optimization {

    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {

    margin-left: 391px;
    /* Style for "Что такое" */
    color: #299cbd;
    /* font-size: 30px;  */
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_text {

    padding-top: 25px;
    margin-left: 391px;
    /* Style for "На простор" */
    color: #4a4a4a;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;

}

.optimization .optimization_text span {
    /* Text style for "Мы научим" */
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    /* Style for "Ellipse 1" */
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    background-color: #b4e2ff;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

/* section intensive */

.intensive {
    /* Style for "Rectangle" */
    min-height: 628px;
    background-color: #efefef;
    padding-bottom: 87px;
}

.intensive .intensive_icon {
    padding-top: 86px;
}

.intensive .intensive_icon .intensive_gift {
    display: block;
    margin: 0 auto;
}

.intensive .intensive_text {
    /* Style for "Для всех у" */
    padding-top: 42px;
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
}

.intensive .intensive_btn {

    display: block;
    margin: 52px auto;

}

.first_webinar {
    min-height: 515px;
    padding: 82px 0 64px 0;
}

.first_webinar .first_webinar_icon {
    display: block;
    margin: 0 auto;
}

.first_webinar .first_webinar_text {
    margin-top: 37px;
    text-align: center;

}

.first_webinar .first_webinar_text .first_webinar_text1 {
    /* Style for "Первый веб" */
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}

.first_webinar .first_webinar_text .first_webinar_text2 {
    /* Style for "10 сентябр" */
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    line-height: 12px;
    text-transform: uppercase;
}

.first_webinar .first_webinar_text .first_webinar_text3 {
    /* Style for "Успейте за" */
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
}

/* footer  */

footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}